.notifications {
    padding-left: 0;
    background-color: rgba(161 161 161 / 10%);
    border-radius: 4px;
}

.notification {
    display:  grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    border-bottom: 1px solid #ececec;
    padding: 15px 20px;
}

.notification:last-child {
    border-bottom: 0;
}

.notification-text {
    flex: 1;
    font-size: 14px;
    margin: 0;
    color: #444;
}
