* {
    box-sizing: border-box;
    /* outline: 1px solid rgba(0 0 0 / 20%); - This line is for debugging */ 
}

.avatar {
    border-radius: 50%;
}

body {
    font-family: Poppins, system-ui;
    margin: 0;
}

.container {
    max-width: 960px;
    padding-inline: 20px;
    margin-inline: auto;
}

.notifications {
    padding-left: 0;
    background-color: rgba(161 161 161 / 10%);
    border-radius: 4px;
}

.notification {
    display:  grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    border-bottom: 1px solid #ececec;
    padding: 15px 20px;
}

.notification:last-child {
    border-bottom: 0;
}

.notification-text {
    flex: 1;
    font-size: 14px;
    margin: 0;
    color: #444;
}
