* {
    box-sizing: border-box;
    /* outline: 1px solid rgba(0 0 0 / 20%); - This line is for debugging */ 
}

body {
    font-family: system-ui;
    margin: 0;
}

.sidebar {
    background-color: #A7ADBA;
    min-height: 300px;
    margin-top: 20px
}

.grid-layout {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
}