* {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    padding-inline: 20px;
    margin-inline: auto;
}

body {
    font-family: Poppins, system-ui;
    margin: 0;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.day {
    border: 1px solid #A7ADBA;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.day:first-child {
    grid-column-start: 3;
}

.day:last-child {
  	border-right: 1px solid #A7ADBA;
}

@media (max-width: 37.5rem) {
    .calendar {
        grid-template-columns: 1fr;
    }
    .day:first-child {
        grid-column-start: 1;
    }
}