* {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    padding-inline: 20px;
    margin-inline: auto;
}

body {
    font-family: system-ui;
    margin: 0;
}

.calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6.25rem 6.25rem;
    gap: 10px;
}

.day {
    border: 1px solid #A7ADBA;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.day:last-child {
  	border-right: 1px solid #A7ADBA;
}