* {
    box-sizing: border-box;
    /* outline: 1px solid rgba(0 0 0 / 20%); - This line is for debugging */ 
}

.container {
    max-width: 960px;
    padding-inline: 20px;
    margin-inline: auto;
}

body {
    font-family: system-ui;
    margin: 0;
}

.ideas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Avatar Layout */
.avatar {
    border-radius: 50%;
}

/* Card Layout */
.card {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    border: 1px solid #C4CFDC;
    border-radius: 4px;
    background-color: white;
    font-size: 1rem;
  }

  .card-title {
    text-align: center;
    padding-bottom: 10px;
  }
  
  .card-image {
    background-image: url("https://res.cloudinary.com/dbfn5lnvx/image/upload/v1646915250/learnhtmlcss/images/travel-small.jpg");
    background-size: cover;
    background-position: cover;
    flex: 0 0 150px;
  }
  
  .card-details {
    padding: 1em;
    flex: 1;
  }
  
  .card-details h2 {
    margin-top: 0px;
    font-size: 1.4em;
    font-weight: 500;
  }
  
  .card-details p {
    color: #485467;
    line-height: 1.3;
  }

  .card-footer p {
    font-size: .875rem;
  }

  .card-footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card-details-text {
    flex: 1;
  }

  .card-sold-out {
    background-color: white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.62rem;
    position: absolute;
    inset: 0px;
  }

.card-discount p {
  background-color: #00695C;
  color: white;
  margin: 0;
  padding: 3px;
  border-radius: 3px;
  font-size: .812rem;
  position: absolute;
  right: 10px;
  top: -10px;
}

@media (max-width: 37.5rem) {
    .card {
        flex-direction: column;
    }
    .card-image {
      flex-basis: 100px;
      background-position: center;
    }
    .ideas-grid {
      grid-template-columns: 1fr;
    }
}