* {
    box-sizing: border-box;
    /* outline: 1px solid rgba(0 0 0 / 20%); - This line is for debugging */ 
}

body {
    font-family: Poppins, system-ui;
    margin: 0;
    background-color: #ececec;

}

.container {
    max-width: 960px;
    padding-inline: 20px;
    margin: auto;
}

input, textarea, select, button {
    font: inherit;
}

.button {
    padding: 12px;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    color: black;
}

.button:hover {
    background-color: #dee2e6;
    color: blue;
}

span {
    float: right;
}

#toggle {
    position: fixed;
    top: 10px;
    right: 10px;
}

#sidebar {
    background-color: white;
    overflow-y: scroll;
    overscroll-behavior: contain;
    height: 100vh;
    width: max(200px, 17vw);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    translate: -400px;
    transition: translate 300ms;
}

#sidebar.opened {
    translate: 0px;
}

#sidebar ul {
    flex: 1;
    list-style: none;
    justify-content: center;
}

#sidebar h1 {
    text-align: center;
    font-size: 1.37rem;
}

@media (prefers-reduced-motion) {
    #sidebar {
        transition: none;
    }
}