* {
    box-sizing: border-box;
    /* outline: 1px solid rgba(0 0 0 / 20%); - This line is for debugging */ 
}

body {
    font-family: system-ui;
    margin: 0;
}

.pagination {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.pagination-link {
    border: 1px solid #dee2e6;
    /* remove the right border to avoid duplicate borders */
    border-right: none;
    padding: 6px 12px;
    color: #0d6efd;
    text-decoration: none;
}

.pagination-link:hover {
 	background-color: #dee2e6;
}

.pagination-item:first-child .pagination-link {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination-item:last-child .pagination-link {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	/* re-add the border to the last link */
	border-right: 1px solid #dee2e6;
}

@media (max-width: 30rem) {
    .pagination {
        flex-direction: column;
        text-align: center;
    }
    .pagination-item {
        display: contents;
    }
    .pagination-item:first-child .pagination-link {
        border-top: 0;
    }
    .pagination-link {
        border-bottom: 0;
    }
}